{% extends 'base.html.twig' %}

{% block title %}Site settings{% endblock %}

{% block body %}

    <h1>Site Settings</h1>

    {% include('setting/_tabs.html.twig') %}

    <form action="{{ path('settings_save') }}" method="post">

        <p class="fields">
            <span class="field size-1">
                <label for="site_name">Site name:</label>
                <input id="site_name" type="text" value="{{ settings.siteName }}" name="settings[site_name]" />
            </span>
        </p>

        <p class="fields">
            <label for="user_registrations">Allow user registrations?</label>
            <input id="user_registrations" type="checkbox" {% if settings.userRegistrations %}checked{% endif %} name="settings[user_registrations]" />
        </p>

        <p class="fields">
            <label for="api_key">API Key:</label>
            <input id="api_key" type="text" name="settings[api_key]" value="{{ settings.apiKey }}" />
        </p>

        <fieldset>
            <legend>Flickr</legend>
            <p class="fields">
                <span class="field size-1">
                    <label for="flickr_api_key">API Key:</label>
                    <input id="flickr_api_key" type="text" value="{{ settings.flickrApiKey }}" name="settings[flickr_api_key]" />
                </span>
                <span class="field size-1">
                    <label for="flickr_api_secret">API Secret:</label>
                    <input id="flickr_api_secret" type="text" value="{{ settings.flickrApiSecret }}" name="settings[flickr_api_secret]" />
                </span>
            </p>
            <p>
                Access Token? {% if settings.flickrToken %}&check;{% else %}&cross;{% endif %}
                Access Token Secret? {% if settings.flickrTokenSecret %}&check;{% else %}&cross;{% endif %}
            </p>
        </fieldset>

        <fieldset>
            <legend>{{'settings.location_legend'|trans}}</legend>
            <p>
                <label for="overland_key">{{'settings.overland_key'|trans}}</label>
                <input type="password" name="settings[overland_key]" id="overland_key" value="{{ settings.overlandKey }}" />
            </p>
            <p>
                {{ 'settings.overland_help'|trans({'%overland_link%': '<a href="https://indieweb.org/Overland">Overland</a>'})|raw }}
                <code>{{ url('overland') }}?key=xxxx</code>
            </p>
        </fieldset>

        <p>
            <input type="hidden" name="token" value="{{ csrf_token('settings-save') }}" />
            <input type="hidden" name="returnroute" value="settings" />
            <input type="submit" value="{{ 'forms.save'|trans }}" />
        </p>

    </form>

{% endblock %}
