{% extends 'base.html.twig' %}

{% block title %}Site settings{% endblock %}

{% block body %}

    <h1>Site Settings</h1>

    <form action="" method="post">

        <p class="fields">
            <span class="field size-1">
                <label for="site_name">Site name:</label>
                <input id="site_name" type="text" value="{{ settings.siteName }}" name="settings[site_name]" />
            </span>
        </p>

        <p class="fields">
            <label for="user_registrations">Allow user registrations?</label>
            <input id="user_registrations" type="checkbox" {% if settings.userRegistrations %}checked{% endif %} name="settings[user_registrations]" />
        </p>

        <p class="fields">
            <label for="api_key">API Key:</label>
            <input id="api_key" type="text" name="settings[api_key]" value="{{ settings.apiKey }}" />
        </p>

        <fieldset>
            <legend>File storage</legend>
            <p class="fields">
                <label><input type="radio" name="settings[data_store]" value="local" {% if settings.dataStore == 'local' %}checked{% endif %} /> Local</label>
                <label><input type="radio" name="settings[data_store]" value="aws" {% if settings.dataStore == 'aws' %}checked{% endif %} /> AWS</label>
            </p>
            <p class="fields">
                <span class="field size-1">
                    <label for="data_dir">Data directory:</label>
                    <input id="data_dir" type="text" value="{{ settings.dataDir }}" name="settings[data_dir]" />
                </span>
            </p>
            <p class="fields">
                <span class="field size-1">
                    <label for="temp_dir">Temporary directory:</label>
                    <input id="temp_dir" type="text" value="{{ settings.tempDir }}" name="settings[temp_dir]" />
                </span>
            </p>
            <p class="fields">
                <span class="field size-1">
                    <label for="aws_key">AWS Key:</label>
                    <input id="aws_key" type="text" value="{{ settings.awsKey }}" name="settings[aws_key]" />
                </span>
                <span class="field size-1">
                    <label for="aws_secret">AWS Secret:</label>
                    <input id="aws_secret" type="text" value="{{ settings.awsSecret }}" name="settings[aws_secret]" />
                </span>
            </p>
            <p class="fields">
                <span class="field size-1">
                    <label for="aws_endpoint">AWS Endpoint:</label>
                    <input id="aws_endpoint" type="text" value="{{ settings.awsEndpoint }}" name="settings[aws_endpoint]" />
                </span>
                <span class="field size-1">
                    <label for="aws_region">AWS Region:</label>
                    <input id="aws_region" type="text" value="{{ settings.awsRegion }}" name="settings[aws_region]" />
                </span>
                <span class="field size-1">
                    <label for="aws_bucket_name">AWS Bucket Name:</label>
                    <input id="aws_bucket_name" type="text" value="{{ settings.awsBucketName }}" name="settings[aws_bucket_name]" />
                </span>
            </p>
        </fieldset>

        <fieldset>
            <legend>Flickr</legend>
            <p class="fields">
                <span class="field size-1">
                    <label for="flickr_api_key">API Key:</label>
                    <input id="flickr_api_key" type="text" value="{{ settings.flickrApiKey }}" name="settings[flickr_api_key]" />
                </span>
                <span class="field size-1">
                    <label for="flickr_api_secret">API Secret:</label>
                    <input id="flickr_api_secret" type="text" value="{{ settings.flickrApiSecret }}" name="settings[flickr_api_secret]" />
                </span>
            </p>
            <p>
                Access Token? {% if settings.flickrToken %}&check;{% else %}&cross;{% endif %}
                Access Token Secret? {% if settings.flickrTokenSecret %}&check;{% else %}&cross;{% endif %}
            </p>
        </fieldset>

        <p>
            <input type="submit" value="Save all" />
        </p>

    </form>

{% endblock %}
