{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}

    <p><a href="{{ path('contact_create') }}">New contact</a></p>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Username</th>
                <th>Groups</th>
                <th>Posts</th>
                <th>Homepage</th>
                <th colspan="2">Descriptions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.name }}</td>
                    <td>
                        {% if contact.user %}
                            <code>{{ contact.user.username }}</code>
                            {% if contact.user.twoFASecret %}
                                2FA
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if contact.user %}
                            {% for g in contact.user.groups %}{#
                                #}{% if loop.length > 1 and loop.last %}{% if loop.length != 2 %},{% endif %} and {% elseif not loop.first %}, {% endif %}{#
                                #}<em>{{ g.name }}</em>{#
                            #}{% endfor %}
                        {% endif %}
                    </td>
                    <td>{{ contact.posts.count() }}</td>
                    <td><a href="{{ contact.homepage }}">{{ contact.homepage }}</a></td>
                    <td class="description public">{{ contact.descriptionPublic|markdownToHtml }}</td>
                    <td class="description {% if contact.descriptionPrivate %}private{% endif %}">
                        {{ contact.descriptionPrivate|markdownToHtml }}
                    </td>
                    <td>
                        <a href="{{ path('contact_view', {id:contact.id}) }}">View</a>
                        <a href="{{ path('contact_edit', {id:contact.id}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
