{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}

    <h1>Contact: {{ contact.name }}</h1>

    <p><a href="{{ contact.homepage }}">{{ contact.homepage }}</a></p>

    {% if contact.descriptionPublic %}
        <div>
            <strong>Public:</strong>
            {{ contact.descriptionPublic|markdownToHtml }}
        </div>
    {% endif %}
    {% if contact.descriptionPrivate and is_granted('ROLE_ADMIN') %}
        <div>
            <strong>Private:</strong>
            {{ contact.descriptionPrivate|markdownToHtml }}
        </div>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') and contact.user %}
        <ul>
            <li>Username: {{ contact.user.username }}</li>
            <li>Email address: {{ contact.user.email }}</li>
        </ul>
    {% endif %}

    <p>
        <a href="{{ path('contact_edit', {id:contact.id}) }}">Edit</a>
    </p>

    {% if contact.posts.count() > 0 %}
        <h2>Posts</h2>
        {% if contact.posts.count() > 100 %}
            <p>The most recent 100 posts by this user are listed.</p>
        {% endif %}
        <ol>
            {% for post in contact.posts.slice(0, 100) %}
                <li>
                    <a href="{{ path('post_view', {id:post.id}) }}">P{{ post.id}}:</a> {{ post.title }}
                    {% if post.url %}
                        <a href="{{ post.url }}">{{ post.url }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    {% endif %}

{% endblock %}
