<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Welcome{% endblock %} :: {{ settings.siteName }}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
        <link rel="alternate" type="application/rss+xml" title="{{'general.rss'|trans}}" href="{{ path('rss') }}"/>
        <meta property="og:site_name" content="{{ settings.siteName }}" />
        {% block head %}{% endblock %}
        {% if not ( no_frontend is defined ) %}
            <link rel="stylesheet" href="{{ path('frontend_file', {ext:'css'}) }}" />
        {% endif %}
    </head>
    <body>
        <header>
            <h1><a href="{{ path('home') }}">{{ settings.siteName }}</a></h1>
            <nav>
                <ul>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{ path('tags') }}">Tags</a></li>
                    <li><a href="{{ path('dates') }}">Dates</a></li>
                    <li><a href="{{ path('map') }}">Map</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('post_create') }}">New post</a></li>
                        <li><a href="{{ path('post_upload') }}">Upload</a></li>
                        <li><a href="{{ path('contacts') }}">Contacts</a></li>
                        <li><a href="{{ path('settings') }}">Settings</a></li>
                    {% endif %}
                    {% if app.user %}
                        <li>Logged in as {{ app.user.username }}</li>
                        <li><a href="{{ path('logout') }}">Log out</a></li>
                    {% else %}
                        <li><a href="{{ path('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>

            {% for type, messages in app.flashes %}
                <div class="flashes">
                    {% for message in messages %}
                        <div class="message {{ type }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endfor %}

            {% block body %}{% endblock %}

        </main>
        <footer>
            <div class="footer-inner">
                {% if settings.mainContact %}
                    <div class="h-card">
                        <p><strong class="p-name">{{ settings.mainContact.name }}</strong></p>
                        <p>
                            <a class="u-url" rel="me" href="{{ settings.mainContact.homepage }}">🔗 {{ settings.mainContact.homepage }}</a>
                            <a class="u-email" rel="me" href="mailto:{{ settings.mainContact.user.email }}">📧 {{ settings.mainContact.user.email }}</a>
                        </p>
                        <div class="p-note">{{ settings.mainContact.descriptionPublic|markdownToHtml|raw }}</div>
                    </div>
                {% endif %}
                <p class="powered-by">
                    Powered by <a href="https://twyne.readthedocs.io/">Twyne</a>
                    <dfn title="Current application version">{{ git_tag() }}</dfn>
                </p>
            </div>
        </footer>
        <script>
            const appBaseUrl = "{{ url('home') }}";
        </script>
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
        {% if not ( no_frontend is defined ) %}
            <script src="{{ path('frontend_file', {ext:'js'}) }}"></script>
        {% endif %}
    </body>
</html>
