<ol class="post-list">
    {% for post in posts %}
        <li class="post h-entry">
            <header>
                <h2 class="p-name">
                    <a href="{% if post.url %}{{ post.url }}{% else %}{{ path('post_view', {id: post.id}) }}{% endif %}"
                        class="u-url">
                        {% if post.title %}{{ post.title }}{% else %}Post {{ post.id }}{% endif %}
                    </a>
                </h2>
                <span class="author">
                    By
                    {% if post.author.homepage %}
                        <a href="{{ post.author.homepage }}" rel="author">{{ post.author.name }}</a>.
                    {% else %}
                        {{ post.author.name }}.
                    {% endif %}
                </span>
                <a href="{{ path('month', {year: post.date.format('Y'), month:post.date.format('m')}) }}" class="date">
                    <time datetime="{{ post.date.format('Y-m-d\\TH:i:s\\Z') }}" class="dt-published">
                        {{ post.date.format('Y F j (l), g:iA') }}
                    </time>
                </a>
            </header>
            <article class="e-content">
                {% if post.file %}
                    <p class="file">
                        <img src="{{ path('file', {id: post.id, size: 'D', ext: 'jpg'}) }}"
                             alt="The file that is attached to this post."
                        />
                    </p>
                {% endif %}
                {{ post.body|markdownToHtml }}
            </article>
            <footer>
                {% if post.tags|length > 0 %}
                    <p>
                        {% for tag in post.tags %}
                            <a class="tag" href="{{ path('tag_view', {id:tag.id}) }}">{{ tag.title }}</a>
                            {% if not loop.last %} &middot; {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
                <p>
                    {% if post.location %}
                        <a href="{{ geo_hack(post.location) }}" title="This post has a geographic location of: {{ post.location }}">📍</a>
                        &middot;
                    {% endif %}
                    <a href="{{ path('post_view', {id:post.id}) }}">P{{ post.id }}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        &middot;
                        <a href="{{ path('post_edit', {id:post.id}) }}">Edit</a>
                    {% endif %}
                </p>
            </footer>
        </li>
    {% endfor %}
</ol>
