{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <h1>{{ title }}</h1>

    <nav class="dates">
        <ol>
            {% for y in years %}
                <li>
                    <a href="{{ path('year', {year:y}) }}" {% if year == y %}class="current"{% endif %}>{{ y }}</a>
                    {% if year == y %}
                        <ol>
                            {% for m in months %}
                                <li>
                                    <a href="{{ path('month', {year: year, month:m.num}) }}" {% if month == m.num %}class="current"{% endif %}>
                                        {{ m.name }}
                                    </a>
                                    ({{ m.count }})
                                </li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </nav>

    {% if posts %}
        {% import "_macros.twig" as macros %}
        {{ macros.pagination(
            page_count,
            page_num,
            post_count,
            path('month_page', {year: year, month:month, pageNum: page_num - 1}),
            path('month_page', {year: year, month:month, pageNum: page_num + 1}),
        ) }}
        {% include 'post/_post_list.html.twig' with {posts: posts} %}
        {{ macros.pagination(
            page_count,
            page_num,
            post_count,
            path('month_page', {year: year, month:month, pageNum: page_num - 1}),
            path('month_page', {year: year, month:month, pageNum: page_num + 1}),
        ) }}
    {% endif %}

{% endblock %}
