{% extends 'base.html.twig' %}

{% block title %}
    {% if post.id %}
        Edit post {{ post.id }}
    {% else %}
        New post
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('map') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('map') }}
{% endblock %}

{% block body %}

    <h1>
        {% if post.id %}
            Editing <a href="{{ path('post_view', {id:post.id}) }}">post {{ post.id }}</a>
        {% else %}
            Creating a new post
        {% endif %}
    </h1>

    <form action="{{ path('post_save') }}" method="post" enctype="multipart/form-data" class="post-edit">
        <p class="fields">
            <span class="field size-1">
                <label for="in_reply_to">In reply to:</label>
                <input type="text" name="in_reply_to" id="in_reply_to" tabindex="10"
                       {% if post.inReplyTo %}value="P{{ post.inReplyTo.id|e('html_attr') }}"{% endif %} />
                {% if post.inReplyTo %}<a href="{{ path('post_view', {id: post.inReplyTo.id}) }}">{{ post.inReplyTo.title }}</a>{% endif %}
            </span>
            <span class="field size-6">
                <label for="title">Title:</label>
                <input type="text" name="title" id="title" value="{{ post.title|e('html_attr') }}" tabindex="20" />
            </span>
        </p>
        <p class="fields">
            <span class="field size-1">
                <label for="date">Date (UTC):</label>
                <input type="text" name="date" id="date" value="{{ post.date.format('Y-m-d H:i:s')|e('html_attr') }}" required tabindex="30" />
            </span>
            <span class="field size-1">
                <label for="author">Author:</label>
                <input type="text" name="author" list="contacts" id="author" required tabindex="40"
                       value="{% if post.author %}{{ post.author.name|e('html_attr') }}{% endif %}"
                />
                <datalist id="contacts">
                    {% for contact in contacts %}
                        <option>{{ contact.name }}</option>
                    {% endfor %}
                </datalist>
            </span>
            <span class="field size-1">
                <label for="view_group">Viewers:</label>
                <select name="view_group" id="view_group" tabindex="50">
                    {% for g in user_groups %}
                        <option value="{{ g.id }}" {% if post.isSelectedGroup(g) %}selected{% endif %}>{{ g.name }}</option>
                    {% endfor %}
                </select>
            </span>
        </p>
        <p class="fields">
            <span class="field size-3">
                <label for="body">Body:</label>
                <textarea name="body" id="body" rows="15" cols="120" autofocus tabindex="60">{{ post.body }}</textarea>
            </span>
            <span class="field size-1">
                <label>Location:</label>
                <input type="hidden" name="latitude" id="latitude" value="{% if post.location %}{{ post.location.latitude }}{% endif %}" />
                <input type="hidden" name="longitude" id="longitude" value="{% if post.location %}{{ post.location.longitude }}{% endif %}" />
                <span id="map" class="form-input" data-edit="1"
                      {% if post.location %}data-latitude="{{ post.location.latitude }}"{% endif %}
                      {% if post.location %}data-longitude="{{ post.location.longitude }}"{% endif %}
                >
                </span>
            </span>
        </p>
        <p class="fields">
            <span class="field size-1">
                <label for="url">Original URL:</label>
                <input type="url" name="url" id="url" value="{{ post.url }}" tabindex="70" />
            </span>
        </p>
        <p>
            <label for="tags">Tags (semicolon-separated):</label>
            <select multiple id="tags" name="tags[]" class="app-select2" tabindex="80">
                {% for tag in post.tags %}
                    <option value="{{ tag.title }}" selected>{{ tag.title }}</option>
                {% endfor %}
            </select>
        </p>
        <p class="fields">
            {% if post.file %}
            <span class="field size-1">
                <label>Existing file:</label>
                <img src="{{ path('file', {id: post.id, size: 'T', ext: 'jpg'}) }}" />
            </span>
            {% endif %}
            <span class="field size-4">
                <label for="new-file">{% if post.file %}Overwrite this file:{% else %}Upload file:{% endif %}</label>
                <input type="file" name="new_file" id="new-file" />
                (Max {{ max_filesize|format_memory }})
            </span>
        </p>
        <table>
            <caption>Syndications</caption>
            <thead>
                <tr>
                    <th><label for="syn-new-url">URL</label></th>
                    <th><label for="syn-new-label">Label</label></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for syndication in post.syndications %}
                    <tr>
                        <td><a href="{{ syndication.url|e('html_attr') }}">{{ syndication.url }}</td>
                        <td>{{ syndication.label }}</td>
                        <td>
                            <input type="checkbox" name="syndications_to_delete[]" id="syn-del-{{ syndication.id }}" value="{{ syndication.id }}" />
                            <label for="syn-del-{{ syndication.id }}">Delete?</label>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td><input id="syn-new-url" type="url" name="new_syndication[url]" /></td>
                    <td><input id="syn-new-label" type="text" name="new_syndication[label]" /></td>
                    <td></td>
                </tr>
                {% if post.id %}
                    <tr>
                        <td colspan="3">
                            <a href="{{ path('commons', {id:post.id}) }}">Copy to Wikimedia Commons</a>
                        </td>
                    </tr>
                {% endif %}
            </tfoot>
        </table>
        <p>
            <input type="submit" name="save" value="Save" tabindex="90" />
            <input type="submit" name="save-edit" value="Save and keep editing" tabindex="95" />
            {% if post.id %}
                <a class="button" href="{{ path('post_view', {id:post.id}) }}" tabindex="100">Cancel</a>
                <a class="button" href="{{ path('post_delete', {id:post.id}) }}" tabindex="110">Delete</a>
                <input type="hidden" name="id" value="{{ post.id }}" />
            {% endif %}
        </p>

    </form>

{% endblock %}
