{% extends 'base.html.twig' %}

{% block body %}

    <h1>Edit a post</h1>

    <form action="{{ path('post_save') }}" method="post" enctype="multipart/form-data">
        <p>
            <span class="field size-1">
                <label for="title">Title:</label>
                <input type="text" name="title" id="title" value="{{ post.title|e('html_attr') }}" size="80" autofocus />
            </span>
        </p>
        <p>
            <span class="field size-1">
                <label for="date">Date (UTC):</label>
                <input type="text" name="date" id="date" value="{{ post.date.format('Y-m-d H:i')|e('html_attr') }}" required />
            </span>
            <span class="field size-1">
                <label for="author">Author:</label>
                <input type="text" name="author" list="contacts" id="author" required
                       value="{% if post.author %}{{ post.author.name|e('html_attr') }}{% endif %}"
                />
                <datalist id="contacts">
                    {% for contact in contacts %}
                        <option>{{ contact.name }}</option>
                    {% endfor %}
                </datalist>
            </span>
        </p>
        <p>
            <span class="field size-1">
                <label for="body">Body:</label>
                <textarea name="body" id="body" rows="15" cols="120">{{ post.body }}</textarea>
            </span>
        </p>
        <p>
            {% if post.file %}
            <span class="field size-1">
                <label>Existing file:</label>
                <img src="{{ path('file', {id: post.id, size: 'T', ext: 'jpg'}) }}" />
            </span>
            {% endif %}
            <span class="field size-4">
                <label for="new-file">{% if post.file %}Overwrite this file:{% else %}Upload file:{% endif %}</label>
                <input type="file" name="new_file" id="new-file" />
                (Max {{ max_filesize|format_memory }})
            </span>
        </p>
        <p>
            <span><input type="submit" name="save" value="Save" class="" /></span>
            {% if post.id %}
                <a href="{{ path('post_view', {id:post.id}) }}">Cancel</a>
                <a href="{{ path('post_delete', {id:post.id}) }}" class="delete">Delete</a>
                <input type="hidden" name="id" value="{{ post.id }}" />
            {% endif %}
        </p>

    </form>

{% endblock %}
