{% extends 'base.html.twig' %}

{% block title %}Upload{% endblock %}

{% block body %}

<h1>Upload</h1>

<form action="{{ path('post_upload') }}" method="post" enctype="multipart/form-data">
    <p>Use this form to upload one or more files and create a new post for each of them.</p>
    <p>
        <label for="files">Files:</label>
        <input type="file" id="files" name="files[]" multiple accept=".jpg, .jpeg, .png, .pdf" required />
        (Max {{ max_filesize|format_memory }})
    </p>
    <p>
        <label for="timezone">Timezone (of the dates in the files' metadata):</label>
        <input id="timezone" type="text" list="timezones" name="timezone" value="Z" />
        <datalist id="timezones">
            {% for tz in timezones %}
                <option value="{{ tz }}">{{ tz }}</option>
            {% endfor %}
        </datalist>
    </p>
    <p class="fields">
        <span class="field size-1">
            <label for="author">Author:</label>
            <input type="text" name="author" list="contacts" id="author" required />
            <datalist id="contacts">
                {% for contact in contacts %}
                    <option>{{ contact.name }}</option>
                {% endfor %}
            </datalist>
        </span>
        <span class="field size-1">
            <label for="view_group">Viewers:</label>
            <select name="view_group" id="view_group">
                {% for g in user_groups %}
                    <option value="{{ g.id }}">{{ g.name }}</option>
                {% endfor %}
            </select>
        </span>
    </p>
    <p>
        <label for="tags">Tags (semicolon-separated):</label>
        <select multiple id="tags" name="tags[]" class="app-select2"></select>
    </p>
    <p>
        <input type="submit" value="Upload" />
    </p>
</form>

{% endblock %}
