{% extends 'base.html.twig' %}

{% block title %}
    {% if post.title %}{{ post.title }}{% else %}Post {{ post.id }}{% endif %}
{% endblock %}

{% block body %}

    <article>
        <h1>{{ post.title }}</h1>
        <p class="meta">
            By {{ post.author.name }}.
            <time datetime="{{ post.date.format('Y-m-d\\TH:i:s\\Z') }}">{{ post.date.format('Y F j (l), g:iA') }}</time>
            {% if post.url %}
                <span class="url">URL: <a href="{{ post.url }}">{{ post.url }}</a></span>
            {% endif %}
        </p>

        <div>{{ post.body|markdownToHtml }}</div>

        {% if post.tags|length > 0 %}
            <p class="tags">
                Tag{% if post.tags|length > 1 %}s{% endif %}:
                {% for tag in post.tags %}
                    <a class="tag" href="{{ path('tag_view', {id:tag.id}) }}">{{ tag.title }}</a>
                    {% if not loop.last %} &middot; {% endif %}
                {% endfor %}
            </p>
        {% endif %}

        {% if post.file %}
            <p>
                <img src="{{ path('file', {id:post.id, size:'D', ext:'jpg'}) }}" alt="Image of the file attached to this post." />
            </p>
            <ul>
                <li>
                    URL:
                    <a href="{{ url('file', {id:post.id, size:'F', ext:post.file.extension}) }}">
                        {{ url('file', {id:post.id, size:'F', ext:post.file.extension}) }}
                    </a>
                </li>
                <li>Size: {{ post.file.size|format_memory }}</li>
                <li>SHA1 checksum: {{ post.file.checksum }}</li>
                <li>Type: {{ post.file.mimeType }}</li>
            </ul>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <p><a href="{{ path('post_edit', {id:post.id}) }}">Edit</a></p>
        {% endif %}

    </article>

{% endblock %}
