{% extends 'base.html.twig' %}

{% block title %}
    {% if post.title %}{{ post.title }}{% else %}Post {{ post.id }}{% endif %}
{% endblock %}

{% block body %}

    <article>
        <h1>{{ post.title }}</h1>
        <p><time datetime="{{ post.date.format('Y-m-d\\TH:i:s\\Z') }}">{{ post.date.format('Y F j (l), g:iA') }}</time></p>
        <div>{{ post.body|markdownToHtml }}</div>
        {% if is_granted('ROLE_ADMIN') %}
            <p><a href="{{ path('post_edit', {id:post.id}) }}">Edit</a></p>
        {% endif %}
    </article>

{% endblock %}
