{% extends 'base.html.twig' %}

{% block title %}{{ tag.title }} :: tag{% endblock %}

{% block body %}

    <h1>T{{ tag.id }}: {{ tag.title }}</h1>

    {{ tag.description|markdownToHtml }}

    <nav class="pagination">
        {% if page_num == 2 %}
            <a href="{{ path('tag_view', {id: tag.id}) }}">&larr; Prev</a>
        {% elseif page_num > 1 %}
            <a href="{{ path('tag_view_page', {id: tag.id, pageNum: page_num - 1}) }}">&larr; Prev</a>
        {% else %}
            <span>&larr; Prev</span>
        {% endif %}
        | Page {{ page_num }} of {{ page_count }} ({{ post_count }} posts) |
        {% if page_num < page_count %}
            <a href="{{ path('tag_view_page', {id: tag.id, pageNum: page_num + 1}) }}">Next &rarr;</a>
        {% else %}
            <span>Next &rarr;</span>
        {% endif %}
    </nav>

    {% include 'post/_post_list.html.twig' with {posts: posts} %}

{% endblock %}
