{% macro post(post) %}
    <section class="post">
        <a class="author" href="{{ baseurl }}/C{{ post.author.id }}">{{ post.author.name }}</a>
        <a href="{{ baseurl }}/{{ post.id }}">{{ post.datetime }}</a>:
        {{ post.body|md2html|raw }}
        <div class="actions">
            <a href="{{ baseurl }}/{{ post.id }}/edit">{{ msg('edit') }}</a>
            &middot;
            <a href="{{ baseurl }}/{{ post.id }}/share">{{ msg('share') }}</a>
        </div>
    </section>
{% endmacro %}
