{% extends 'base.html.twig' %}
{% block main %}

    <form action="{{ baseurl }}/login" method="post">
        <p>
            <label for="ident">{{ msg('username-or-email') }}</label>
            <input type="text" name="ident" id="ident" value="{{ ident }}" autofocus required />
        </p>
        <p>
            <label for="password">{{ msg('password') }}</label>
            <input type="password" name="password" id="password" />
        </p>
        <p>
            <input type="submit" name="login" value="{{ msg('login') }}" />
            <input type="submit" name="register" value="{{ msg('register') }}" />
            <input type="submit" name="reset" value="{{ msg('reset') }}" />
        </p>
    </form>

{% endblock %}
